<div class="container" style="margin-top: 40px;width: 500px;"  >
<div *ngFor="let category of productSubCategories"><br/>
    
    
      <div>
        <h5 class="card-title">{{category.productSubCategoryName}}</h5>
        <p class="card-text">Click on the button for {{category.productSubCategoryName}}</p>
      
        <button  class="btn btn-warning" [routerLink]="['/products/list',category.productSubCategoryId]" style="border-color: black;">{{category.productSubCategoryName}}</button>
      </div>
  </div>
  </div>