<h1 align="center" >MusicCategories LIST</h1>

<div align="center" style="margin-top: 50px;">

<button  (click)="GetById(id=1)">
<img src="https://4.bp.blogspot.com/-YocR1HiG45k/WbYfCQF9wMI/AAAAAAAAACE/YmnGk99fW1s7Ln45CvAlHHo1duEFcM5vgCLcBGAs/s1600/Ed%2BSheeran%2B-%2B%25C3%25B7%2B%2528Divide%2529%2B%2528Deluxe%2529%2B%25282017%2529.jpg" width="250px" height="400px" > </button>

&nbsp; &nbsp;

<button (click)="GetById(id=2)">
<img src="https://library.kissclipart.com/20180906/evw/kissclipart-video-camera-with-tripod-png-clipart-photographic-5f3c9c69f7c20fef.png" width="250px" height="400px"></button>
</div>