<h2 style="margin-left: 950px;">Start Selling</h2>
<div class="container">
<div class="jumbotron">
    <h2>Phone Verification</h2><br/>
    <form [formGroup]="registerForm">
        <div class="form-group">
            <h3>Register and Start Selling</h3>
            <p>Please have the following ready before you begin:</p><br/>
            <ul>
                <li>Your bank account details for receiving payments from Amazon</li>
                <li>Tax (GST/PAN) details of your business</li>
                <li>Please ensure that all the information you submit is accurate.</li>
            </ul>
        </div><br/>
        <div class="form-group">
            <label>Company/Business name</label>
            <input type="text" formControlName="companyName" class="form-control">
            <p class="form-text text-muted">Enter the company/business name as registered in GST/PAN</p>
        </div><br/>
        <h3>Seller Agreement</h3>
        <div class="form-group">
            <input type="checkbox" >I have read and agree to comply with and/or be bound by the terms and conditions of
            <a href="#">Amazon Services Business Solutions Agreement , Easy Ship Service & Runway Terms and Conditions and Amazon Business (B2B) Terms & Conditions</a>
        </div><br/>
        <button type="submit" class="btn btn-primary" (click)="submit()">Continue</button><br/>

        <div>
            <label>Like to create new account?<a href="#">Click Here</a></label>
            
        </div>

    </form>
</div>
</div>



<div class="container">
<div class="jumbotron">
    <form [formGroup]="infoForm">
        <div class="form-group">
            <h2>Tell us about your business</h2><br/>
            <label>Store Name</label>
            <input type="text" class="form-control" formControlName="StoreName">
        </div><br/>
        <!-- <div>
            <label>Select Product Category</label><br/>
            <button class="btn btn-primary"  (click)="GetByQueryParams('ProductCategoryName')">Get Data By queryParams</button><br />
<div>{{result | json}}</div>
        </div><br/> -->


        <h2 class="form-text text-muted">Enter your address</h2><br/>
        <div class="row">
            
            <label>Pincode</label>
            <input type="text" class="form-control" formControlName="area"><br/>
            <label>Address Line</label>
            <input type="text" class="form-control" formControlName="address"><br/>
            <label>LandMark</label>
            <input type="text" class="form-control" formControlName="landmark"><br/>
            <label>City</label>
            <input type="text" class="form-control" formControlName="city"><br/>
            <label>State</label>
            <input type="text" class="form-control" formControlName="state"><br/>
            <label>Country/Region</label>
            <select>
                <option>India</option>
            </select><br/>
        </div><br/>


        <button type="submit" class="btn btn-primary" (click)="submit()">Continue</button>
    </form>
</div>
</div>


<div class="container">
<div class="jumbotron">
    <form [formGroup]="taxForm">
        <div class="form-check">
            <h2>Update your Tax details</h2><br/>
            <input type="radio"  id="gst1" value="gst1"  (click)="setradio('gst1')" checked >I have GST number<br/>
            <input type="radio"  id="gst2" value="gst2" (click)="setradio('gst2')">I sell in GST Exempted Category.<br/>
            <input type="radio"  id="gst3" value="gst3" (click)="setradio('gst3')">I don't have it handy and will update later.<br/>
            <input type="radio"  id="gst4" value="gst4" (click)="setradio('gst4')">I have never registered for GST.<br/>
        </div>

        <div *ngIf="isSelected('gst1')">
            <label>Enter Your Tax Details</label><br/>
            <input type="text" class="form-control" formControlName="state">
            <label>Provisional GSTIN</label><br/>
            <input type="text" class="form-control" formControlName="gstin">
            <label>PAN number</label><br/>
            <input type="text" class="form-control" formControlName="panNumber">
            <input type="checkbox"> I will Update Later
        </div>
        <div *ngIf="isSelected('gst2')">
            <label>PAN number</label><br/>
            <input type="text" class="form-control" formControlName="panNumber">
        </div><br/>
        <div *ngIf="isSelected('gst3')"></div>
        <div *ngIf="isSelected('gst4')"></div>

        <button type="submit" class="btn btn-primary" (click)="submit()">Next</button>
    </form>
</div>
</div>


<div class="container">
<div class="jumbotron">
    <form [formGroup]="launchForm">
        <div class="form-group">
            <h1>Hi BOOKstore, You are almost there</h1>
            <small class="form-text text-muted">Please complete the below steps and start selling to millions of customer</small><br/>
        </div>
        <div class="cotainer">
            <h4>Product to sell</h4><br/>
            <P>List the products you wish to sell on Amazon.in</P><br/>
            <h4>Start selling in these categories:</h4>
            <h4 class="form-text text-muted">Books</h4><br/>

            <a href="#">Add/Remove Categories</a>

            <input type="text" class="form-control" formControlName="barcode">I have products without product ID (GTIN / barcode)
        </div><br/>
        <div>
            <h4>Shipping Fee Details</h4><br/>
            <div class="row">
                <h4>To edit the shipping rates, visit the Shipping Settings page.</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" (click)="submit()">Edit</button>
            </div><br/>
        </div>
        <div>
            <div>
                <h4>Bank Account Details</h4><br/>
                <label>Account holder name</label>
                <input type="text" class="form-control" formControlName="accountHolderName">
                <label>Account Type</label><br/>
                <input type="text" class="form-control" formControlName="accountType">
            </div>
            <div>
                <label>Account number</label><br/>
                <input type="text" class="form-control" formControlName="accountNumber">
                <label>Re-enter Account number</label><br/>
                <input type="text" class="form-control" formControlName="ReEnter">
            </div>
            <div>
                <label>IFSC code </label><br/>
                <input type="text" class="form-control" formControlName="Code">
            </div><br/>
            <div class="row">
                <button type="button" class="btn btn-primary" (click)="submit()">Verify IFSC</button>
            
                <button type="button" class="btn btn-primary" style="margin-left: 1000px;" (click)="submit()">Save</button>
            </div><br/>
        </div>
        <div>
            <h4>Enter Tax Details</h4>
            <p>Update your Tax Details for MADHYA PRADESH :</p>
            <div>
                <label>PAN number</label><br/>
                <input type="text" class="form-control" formControlName="panNumber">
                <label>Provisional GSTIN</label><br/>
                <input type="text" class="form-control" formControlName="Provisional">
            </div><br/>
            <button type="button" class="btn btn-primary">Save</button>
        </div><br/>
        <div>
            <h4>Default Product Tax Code</h4>
            <p>
                PTC (Product Tax code) are codes which are mapped to GST rates notified by the government 
                (i.e. the percentage of taxes which are applicable for the sale of products or services).
                Seller Central Account tax calculation system uses PTC to calculate the tax on the products or services a seller lists on the marketplace.
                This is the Tax amount which sellers will later have to remit to the GST authorities on the product or services sold/provided by them
            </p>
            <div>
                <h3>Default Product Tax Code </h3><br/>
                <select>
                    <option>Select Product Tax Code</option>
                </select><br/>
            </div>
            <div>
                <input type="checkbox">I have reviewed and agree to Amazon's
                <a href="#">Tax Calculation Methodology Save</a>
                
            </div><br/>

            <button type="button" class="btn btn-primary">Save</button>

            <div>    
                <a href="#">View all Product Tax Codes</a>
                <a href="#">Learn more about PTC</a>
            </div>
        </div>
        <div class="container">
            <h4>Signature</h4>
            <small class="form-text text-muted">Upload an image of your signature which will be used on the invoices sent to customers</small><br/>
         <div class="form-group">
    
        	    <label>Upload Your Signature</label><br/>
        	    <input type="file" [writeFile]="true" formControlName="signature" class="form-control" multiple>
    
      	    </div>
      
        </div>
        <button type="button" class="btn btn-primary"  (click)="submit()" style="margin-left: 400px;">Launch your business</button>
    </form>
</div>
</div>

