<h1>Products LIST</h1>



<!-- <button class="btn btn-primary" (click)="GetById(id=this.id)">Get Data</button><br /> -->

<div *ngFor="let product of vProducts">
    <div class="card">
        <div class="card-body">
            
            <h1>Product Name : {{product.productName}}</h1>
            <h3>Product Price : {{product.originalProductPrice}}</h3>
            <h3>Discount Price : {{product.discountProductPrice}}</h3>
            <!-- <button [routerLink]=""></button> -->
            <button  class="btn btn-primary" [routerLink]="['/v-products/list',product.productId]">Click to Buy</button>
        </div>
    </div>
</div>







