<!-- <h1>vProducts LIST</h1>
<div>
    <button class="btn btn-primary" (click)="Get()">Get Data</button><br />
        </div>
    
    <div *ngFor="let product of vProducts">
        {{product.ProductId}}
    
        <img src="..." class="img-fluid" alt="Responsive image"><a href="#" [routerLink]="['/product-edit',product.ProductId]"></a>
    
    </div>
    

    <div class="card" *ngFor="let product of vProducts">
    
        <div class="card-header">
          <a  class="btn btn-primary"  > {{product.productName}}</a> 
          </div>
          <div class="card-body">
            <h5 class="card-title">{{product.originalProductPrice}}</h5>
            <p class="card-text">{{product.discountProductPrice}}</p>
            
           
          </div>
      </div> -->

      <h2 style="margin-left: 900px;">Add to Cart</h2>
<div>
    <!-- <button class="btn btn-primary" (click)="Get()">Get Data</button><br /> -->
        </div>
    
    <!-- <div *ngFor="let product of vProducts">
        {{product.ProductId}}
    
        <img src="..." class="img-fluid" alt="Responsive image"><a href="#" [routerLink]="['/product-edit',product.ProductId]"></a>
    
    </div> -->
    <div class="container" style="margin-left: 800px;width: 500px;margin-top: 40px;"  ><br/>
    <div *ngFor="let product of vProducts">
        <div >
            <div >
                
                <h3>Product Name : {{product.productName}}</h3><br/>
                <h5>Product Price : {{product.originalProductPrice}}</h5><br/>
                <h5>Discount Price : {{product.discountProductPrice}}</h5><br/>
                <!-- <button [routerLink]=""></button> -->
                <!-- <button  class="btn btn-primary" [routerLink]="['/v-products/list',product.productId]">Click to Buy</button> -->
            </div>
        </div>
    </div>
   <br/>


    </div>   



    <div class="container" style="margin-left: 800px;width: 500px;" class="border border-secondary" ><br/>
    
        <form>
            
                <label style="margin-left: 20px;">Quantity</label>&nbsp;&nbsp;
                <button class="btn btn-warning"  (click)="decreaseValue()" value="Decrease Value" style="border-color: black;">-</button>&nbsp;
               {{value}}
                <button class="btn btn-warning" (click)="increaseValue()" value="Increase Value" style="border-color: black;">+</button>&nbsp;
            <br/><br/>
            
            <div class="row">
                <button type="button" class="btn btn-warning" (click)="AddtoCart()" style="margin-left: 135px;width: 250px;border-color: black;" >Add To Cart</button>
            </div><br/>
            <div>    
                <button type="button" class="btn btn-warning" (click)="BuyNow()" style="margin-left: 120px;width: 250px;border-color: black;">Buy Now</button><br/>
            </div>
        </form><br/>
   
</div>