<h1>Sellers List</h1>
<!-- <div class="card-body">
    <form [formGroup]="productformgroup" >
    <div class="col">
        <input  type="text" formControlName="product">
        <button (click)="SearchProduct()">Search</button>
    </div>
    </form>

</div> -->

<!-- <table>
    <tr *ngFor="let data of proresult">
        <td>
            {{data.ProductName}}
        </td>
    </tr>
</table> -->
<!-- <button class="btn btn-primary" (click)="Get()">Get Data</button><br />
<div>{{result | json}}</div> -->