<h3 style="margin-left: 850px;margin-top: 40px;">Payment Methods</h3>
<div class="border border-secondary" style="width: 550px;margin-left: 700px;margin-top: 20px;border-style: ridge;border-color: silver;">

<div class="container"><br/>
 
        <form [formGroup]="CardForm">
            <div class="form-check">


                <h4>Choose Payment Option</h4><br/>
                
                <input type="radio"  id="paymentoption" value="onlinepayment"  (click)="setradio('onlinepayment')">Online Payment<br/>
                <input type="radio"  id="paymentoption" value="cod" (click)="setradio('cod')">COD<br/>
                <input type="radio"  id="paymentoption" value="emi" (click)="setradio('emi')">EMI<br/>
              
            </div>
    
            <div *ngIf="isSelected('onlinepayment')">
                <label>Name on Card</label><br/>
                <input type="text" class="form-control" formControlName="nameoncard">
                <label>Card Number </label><br/>
                <input type="text" class="form-control" formControlName="cardnumber">
                <label>Expiry Date</label><br/>
                <input type="text" class="form-control" formControlName="expirydate">
                <label>CVV</label><br/>
                <input type="text" class="form-control" formControlName="cvv">
              
            </div>


            <div *ngIf="isSelected('emi')">
                <label>Name on Card</label><br/>
                <input type="text" class="form-control" formControlName="nameoncard">
                <label>Card Number </label><br/>
                <input type="text" class="form-control" formControlName="cardnumber">
                <label>Expiry Date</label><br/>
                <input type="text" class="form-control" formControlName="expirydate">
                <label>CVV</label><br/>
                <input type="text" class="form-control" formControlName="cvv">
            </div><br/>
        
    
            <button type="submit" class="btn btn-warning" style="margin-left: 200px;border-color: black;" (click)="placeOrder()">Place Order</button>
        </form>
        <br>





    </div>
</div><br/>

<h3 style="margin-left: 840px;">Apply PromoCode</h3>
<div class="border border-secondary" style="width: 550px;margin-left: 700px;border-style: ridge;margin-top: 20px;border-color: silver;">


<div class="container"><br/>
   

        <form [formGroup]="PromocodeForm">
          
                <label>Promo Code</label>
                <input type="text" class="form-control" formControlName="promocode"><br>
                
                <button type="submit" class="btn btn-warning" style="margin-left: 180px;border-color: black;" >Apply Promo Code</button>

        

        </form>
   
</div> <br/>   
</div>
