<h2 style="margin-left: 900px;">Shopping Cart</h2>
<div class="container" style="margin-left: 800px;width: 550px;margin-top: 40px;">
    <div *ngIf="isCartEmpty">
        <h4 style="margin-left: 87px;"> Your Cart is Empty</h4><br/>
    </div>

    <div *ngIf="isCart">
        <h4>Cart Quantity : {{CartQuantity}}</h4><br/>
<div *ngFor="let item of vCartItems">
    <div class="card">
        <div class="card-body">
            
            <h3>Product Name : {{item.productName}}</h3><br/>
            <h4>Product Price : {{item.discountProductPrice}}</h4><br/>
            <h4>Quantity : {{item.productQuantity}}</h4><br/>
            <h4>Total Price : {{item.totalPrice}}</h4><br/>
            
            <!-- <button [routerLink]=""></button> -->
            <button  class="btn btn-warning" (click)="removeProduct(item.productId)" style="border-color: black;">Remove</button><br/>
        </div>
    </div><br/>
</div>
<h4>Cart Value : {{CartValue}}</h4><br/>





<button class="btn btn-warning" class="btn btn-warning"  (click)="proceedToBuy()" style="border-color: black;" >Proceed to Buy</button><br/>

<!-- <button  class="btn btn-warning" (click)="clearCart()" style="border-color: black;">Clear Cart</button><br/> -->
</div>
</div>