
<div class="container" style="margin-top: 40px;width: 200px;margin-left: 800px;"  >
<div  *ngFor="let category of productCategories" >
    
    
      <div >
        <img src="assets/images/{{category.productCategoryName}}.jpg"  ><br/>
        <h5 class="card-title">{{category.productCategoryName}}</h5><br/>
        
        
        <button  class="btn btn-warning" (click)="GetById(id=category.productCategoryId)" style="border-color: black;">Click to Know More</button><br/>
      </div>
  </div>
</div>